table{
    border: 3px solid pink;
    width: 1000px;
    border-collapse: collapse;
}
th{
    border: 3px solid blue;
}
td{
    border: 3px solid greenyellow;
    text-align: center;
}
















