.mytest1{
    width: 100px;
    height: 100px;
    background-color: brown;
    color: gray;
    font-size: 30px;
}

.mytest2{
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    color: white;
    font-size: 30px;
}

.mytest3{
    width: 100px;
    height: 100px;
    background-color: orangered;
    color: black;
    font-size: 30px;
}

.mytest4{
    width: 100px;
    height: 100px;
    background-color: gold;
    color: brown;
    font-size: 30px;
}

.mytest5{
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    color: blue;
    font-size: 30px;
}

.mytest6{
    width: 100px;
    height: 100px;
    background-color: chocolate;
    color: yellowgreen;
    font-size: 30px;
}

.mytest7{
    width: 100px;
    height: 100px;
    background-color: indianred;
    color: plum;
    font-size: 30px;
}

.mytest8{
    width: 100px;
    height: 100px;
    background-color: darkolivegreen;
    color: midnightblue;
    font-size: 30px;
}

.mytest9{
    width: 100px;
    height: 100px;
    background-color: orangered;
    color: olive;
    font-size: 30px;
}

.mytest10{
    width: 100px;
    height: 100px;
    background-color: teal;
    color: darkorchid;
    font-size: 30px;
}


















































































